@model SPResearchTracker.Models.OneNoteViewModel

@{
	ViewBag.Title = "Process";
}

<h2>Process</h2>

<div>
	<h4>OneNoteViewModel</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ResponseMessage)
		</dt>

		<dd>
			@Html.Raw(Model.ResponseMessage)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.NewNotebookLink)
		</dt>

		<dd>
			<a target="_blank" href="@Model.NewNotebookLink">@Model.NewNotebookLink</a>
		</dd>

	</dl>
</div>
