@model IEnumerable<Office365Contact.Models.MyContact>
@{ViewBag.Title = "Index";}
<h2>My Contacts</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.GivenName)</th>
        <th>@Html.DisplayNameFor(model => model.Surname)</th>
        <th>@Html.DisplayNameFor(model => model.CompanyName)</th>
        <th>@Html.DisplayNameFor(model => model.BusinessPhone)</th>
        <th>@Html.DisplayNameFor(model => model.HomePhone)</th>
        <th>@Html.DisplayNameFor(model => model.EmailAddress)</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.GivenName)</td>
            <td>@Html.DisplayFor(modelItem => item.Surname)</td>
            <td>@Html.DisplayFor(modelItem => item.CompanyName)</td>
            <td>@Html.DisplayFor(modelItem => item.BusinessPhone)</td>
            <td>@Html.DisplayFor(modelItem => item.HomePhone)</td>
            <td>@Html.DisplayFor(modelItem => item.EmailAddress)</td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<div class="row">
    <h4>Paging Control</h4>
    <div class="btn btn-group-sm">
        @{
            var pageLinkAttributes = new Dictionary<string, object> { { "class", "btn btn-default" } };

            int pageNumber = ViewBag.pageNumber;

            // do prev link if not on first page
            if (pageNumber > 1)
            {
                var routeValues = new RouteValueDictionary { { "pageNumber", pageNumber - 1 } };
                @Html.ActionLink("Previous Page", "Index", "Contact", routeValues, pageLinkAttributes);
            }

            // do next link if current page = max page size
            if (ViewBag.morePagesAvailable)
            {
                var routeValues = new RouteValueDictionary { { "pageNumber", pageNumber + 1 } };
                @Html.ActionLink("Next Page", "Index", "Contact", routeValues, pageLinkAttributes);
            }
        }
    </div>
</div>