@model TasksWeb.Models.SpTermViewModel

<h2>Create a Term Under the Term: '@Model.ParentTermLabel'</h2>

@using (Html.BeginForm("Create", "SpTerm", FormMethod.Post)) {
  @Html.AntiForgeryToken()
  <div class="form-horizontal">
    @Html.HiddenFor(model => model.ParentTermId)
    @Html.HiddenFor(model => model.ParentTermLabel)
    <div class="form-group">
      <div class="control-label col-md-2">New Term:</div>
      <div class="col-md-10">
        @Html.EditorFor(model => model.NewTermLabel, new { htmlAttributes = new { @class = "form-control" } })
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create Term" class="btn btn-default" />
      </div>
    </div>
  </div>
}

<div>
  @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
