@model IEnumerable<VideoApiWeb.Models.VideoChannel>

<h1>Video Portal Channels</h1>

<table class="table">
  <tr>
    <th></th>
    <th>
      @Html.DisplayNameFor(model => model.Title)
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model) {
    <tr>
      <td style="width: 20px; background-color: @item.HtmlColor">&nbsp;</td>
      <td>
        @item.Title
        <br /><em>@Html.DisplayFor(modelItem => item.Description)</em>
      </td>
      <td>
        @Html.RouteLink("Videos", "ChannelVideos", new { channelId = item.Id, action = "Index" }, null)
      </td>
    </tr>
  }

</table>
