@model Microsoft.Graph.Event
@{ ViewBag.Title = "Detail"; }
<h2>@Model.Subject</h2>
@section scripts {
    <script type="text/javascript">
$(function () {
  $('#start-picker').datetimepicker({ format: 'YYYY-MM-DDTHH:mm:ss', sideBySide: true });
  $('#end-picker').datetimepicker({ format: 'YYYY-MM-DDTHH:mm:ss', sideBySide: true });
});
    </script>
}
<div class="row" style="margin-top:50px;">
    <div class="col-sm-12">
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
        }
        <div class="panel panel-default">
            <div class="panel-body">
                <table>
                    <tbody>
                        <tr>
                            <form class="form-inline" action="/Calendar/Accept" method="post">
                                <input type="hidden" name="eventId" value="@Request.Params["eventId"]" />
                                <button type="submit" name="Accept" class="btn btn-default">Accept</button>
                            </form>
                            <form class="form-inline" action="/Calendar/Tentative" method="post">
                                <input type="hidden" name="eventId" value="@Request.Params["eventId"]" />
                                <button type="submit" name="Tentative" class="btn btn-default">Tentative</button>
                            </form>
                            <form class="form-inline" action="/Calendar/Decline" method="post">
                                <input type="hidden" name="eventId" value="@Request.Params["eventId"]" />
                                <button type="submit" name="Decline" class="btn btn-default">Decline</button>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-responsive">
            <table id="calendarTable" class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <td>Organizer:</td>
                        <td>
                            @Model.Organizer.EmailAddress.Name
                        </td>
                    </tr>
                    <tr>
                        <td>Start:</td>
                        <td>
                            @string.Format("{0} ({1})", Model.Start.DateTime, Model.Start.TimeZone)
                        </td>
                    </tr>
                    <tr>
                        <td>End:</td>
                        <td>
                            @string.Format("{0} ({1})", Model.End.DateTime, Model.End.TimeZone)
                        </td>
                    </tr>
                    <tr>
                        <td>Location:</td>
                        <td>
                            @{
                                if (null != Model.Location)
                                {
                                    @Model.Location.DisplayName
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Response:</td>
                        <td>
                            @{
                                if (null != Model.ResponseStatus.Response)
                                {
                                    @Model.ResponseStatus.Response.Value
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style12">Web link:</td>
                        <td>
                            @{
                                if (null != Model.WebLink)
                                {
                                    <a href="@Model.WebLink">Message OWA link </a>
                                }
                            }
                        </td>
                    </tr>
                <td>Body:</td>
                <td>
                    <div>
                        <iframe id="mailBody" width="800" src="@(string.Format("/Calendar/GetEventBody/?eventId={0}", Model.Id))" class="auto-style9" />
                    </div>
                </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="btn btn-group-sm">
            @{
                Dictionary<string, object> attributes = new Dictionary<string, object>();
                attributes.Add("class", "btn btn-default");

                if (null != ViewBag.NextLink)
                {
                    RouteValueDictionary routeValues = new RouteValueDictionary();
                    routeValues.Add("nextLink", ViewBag.NextLink);
                    @Html.ActionLink("Next Page", "Index", "Calendar", routeValues, attributes);
                }
            }
        </div>

    </div>
</div>