@model SPResearchTracker.Models.Project

<div>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Title)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Title)
		</dd>

	</dl>
</div>
<div class="row" style="margin-top:50px;">
	<div class="col-sm-4">

		@*[[ OneNote Button ]]*@

		@Html.ActionLink("Archive in OneNote", "Index", "OneNote", new { id = Model.Id }, new { @class = "btn btn-default" })
	</div>
	<div class="col-sm-4">
		@Html.ActionLink("Edit", "Edit", "Projects", new { id = Model.Id }, new { @class = "btn btn-default" })

		@Html.ActionLink("Delete", "Delete", "Projects", new { id = Model.Id }, new { @class = "btn btn-default" })
	</div>
</div>
