@model SPResearchTracker.Models.ProjectListViewModel

@{
	ViewBag.Title = "Project Research";
}

<h2>Projects</h2>

<div class="row" style="margin-top:50px;">
	<div class="col-sm-12">
		@{
			Dictionary<string, object> attributes4 = new Dictionary<string, object>();
			attributes4.Add("class", "btn btn-default");
			@Html.ActionLink("New Project", "Create", "Projects", null, attributes4);
		}
	</div>
</div>
<div class="row" style="margin-top:50px;">
	<div class="col-sm-12">
		<div class="table-responsive">
			<table id="filesTable" class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Title</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var project in @Model.Projects)
					{
						<tr>
							<td>
								@project.Title
							</td>
							<td>
								@{
									Dictionary<string, object> attributes2 = new Dictionary<string, object>();
									attributes2.Add("class", "btn btn-default");

									RouteValueDictionary routeValues2 = new RouteValueDictionary();
									routeValues2.Add("projectId", project.Id);
									@Html.ActionLink("Details", "View", "Home", routeValues2, attributes2);
								}
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="btn btn-group-sm">
			@{
				Dictionary<string, object> attributes3 = new Dictionary<string, object>();
				attributes3.Add("class", "btn btn-default");

				RouteValueDictionary routeValues3 = new RouteValueDictionary();
				routeValues3.Add("pageIndex", (Model.PageIndex == 0 ? 0 : Model.PageIndex - 1).ToString());
				routeValues3.Add("pageSize", Model.PageSize.ToString());
				@Html.ActionLink("Prev", "Index", "Home", routeValues3, attributes3);
			}
			@{
				RouteValueDictionary routeValues4 = new RouteValueDictionary();
				routeValues4.Add("pageIndex", (Model.PageIndex + 1).ToString());
				routeValues4.Add("pageSize", Model.PageSize.ToString());
				@Html.ActionLink("Next", "Index", "Home", routeValues4, attributes3);
			}
		</div>
	</div>
</div>
