<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
</head>
<body>
  <div id="page_width" class="container" >

    <div id="top_nav" class="row">
      <a href="@Html.Raw(Request["SPHostUrl"])">Back to Host Web</a>
    </div>

    <div id="page_header" class="row">
      <h2 id="page_title">Remote Events Debugging Demo</h2>
    </div>

    <div class="row body-content">
      @RenderBody()
    </div>

  </div>
  
  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @Scripts.Render("~/bundles/spcontext")
  @RenderSection("scripts", required: false)
</body>
</html>