@model O365Discovery.Models.FirstSignInResult

<h2>API Response</h2>

<dl class="dl-horizontal">
	<dt>
		@Html.DisplayNameFor(model => model.user_email)
	</dt>

	<dd>
		@Html.DisplayFor(model => model.user_email)
	</dd>

	<dt>
		@Html.DisplayNameFor(model => model.token_service)
	</dt>

	<dd>
		@Html.DisplayFor(model => model.token_service)
	</dd>

	<dt>
		@Html.DisplayNameFor(model => model.discovery_service)
	</dt>

	<dd>
		@Html.DisplayFor(model => model.discovery_service)
	</dd>

	<dt>
		@Html.DisplayNameFor(model => model.discovery_resource)
	</dt>

	<dd>
		@Html.DisplayFor(model => model.discovery_resource)
	</dd>

	<dt>
		@Html.DisplayNameFor(model => model.authorization_service)
	</dt>

	<dd>
		@Html.DisplayFor(model => model.authorization_service)
	</dd>

	<dt>
		@Html.DisplayNameFor(model => model.account_type)
	</dt>

	<dd>
		@Html.DisplayFor(model => model.account_type)
	</dd>

</dl>
