@model O365Discovery.Models.DiscoveryViewModel

<h2>Discovery Service Process</h2>
<p>The following is the workflow for an app using Discovery Service:</p>
<ol>
	<li @(Model.CurrentStep == 1 ? "style=font-weight:bold" : "")>First sign-in</li>
	<li @(Model.CurrentStep == 2 ? "style=font-weight:bold" : "")>Get authorized for discovery</li>
	<li @(Model.CurrentStep == 3 ? "style=font-weight:bold" : "")>Discovery</li>
	<li @(Model.CurrentStep == 4 ? "style=font-weight:bold" : "")>Get authorized for Resource Service</li>
	<li @(Model.CurrentStep == 5 ? "style=font-weight:bold" : "")>Access the service API</li>
</ol>
<p><a class="btn btn-default" href="http://msdn.microsoft.com/en-us/library/office/dn605895(v=office.15).aspx">Learn more &raquo;</a></p>
