@model PagedList.IPagedList<InboxSync.Models.Message>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Inbox";
}

<h2>Inbox</h2>
<p>
    @using (Html.BeginForm("SyncInbox", "Mail", FormMethod.Post, new { @class = "sync-form" }))
    {
        <input type="submit" value="Sync Now" class="btn btn-primary btn-sm" />
    }
</p>
<table class="table">
    <tr>
        <th>
            From
        </th>
        <th>
            Subject
        </th>
        <th>
            Body Preview
        </th>
        <th>
            Received
        </th>
        <th>
            Is Read?
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.From.EmailAddress.Name) <strong>&lt;</strong>@Html.DisplayFor(modelItem => item.From.EmailAddress.Address)<strong>&gt;</strong>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyPreview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRead)
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Inbox", new { page }))