@model IEnumerable<Office365PlannerTask.Models.MyPlan>
@{ ViewBag.Title = "My Plans"; }
<h2>My Plans</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="plansTable" class="table table-striped table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(model => model.title)</th>        
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.title)</td>            
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Update", "Update", new { id = item.id }) |
                @Html.ActionLink("Tasks", "../Task/Index", new { planid = item.id })
            </td>
        </tr>
    }
</table>
