@model IEnumerable<OutlookServicesClientDemo.Models.MyContact>

@{ ViewBag.Title = "My Contacts"; }

<h2>My Contacts</h2>

<p>
  @Html.ActionLink("Create New", "Create")
</p>

<table id="contactsTable" class="table table-striped table-bordered">
  <tr>
    <th>@Html.DisplayNameFor(model => model.GivenName)</th>
    <th>@Html.DisplayNameFor(model => model.Surname)</th>
    <th>@Html.DisplayNameFor(model => model.CompanyName)</th>
    <th>@Html.DisplayNameFor(model => model.BusinessPhone)</th>
    <th>@Html.DisplayNameFor(model => model.HomePhone)</th>
    <th>@Html.DisplayNameFor(model => model.EmailAddress)</th>
    <th></th>
  </tr>

  @foreach (var item in Model) {
    <tr>
      <td>@Html.DisplayFor(modelItem => item.GivenName)</td>
      <td>@Html.DisplayFor(modelItem => item.Surname)</td>
      <td>@Html.DisplayFor(modelItem => item.CompanyName)</td>
      <td>@Html.DisplayFor(modelItem => item.BusinessPhone)</td>
      <td>@Html.DisplayFor(modelItem => item.HomePhone)</td>
      <td>@Html.DisplayFor(modelItem => item.EmailAddress)</td>
      <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
      </td>
    </tr>
  }

</table>

<div class="row">
  <h4>Paging</h4>
  <div class="btn btn-group-sm">
    @{
      int pageIndex = ViewBag.pageIndex;
      int pageSize = ViewBag.pageSize;
      int contactCount = ViewBag.contactCount;

      int pageCount = (int)System.Math.Ceiling((double)contactCount / (double)pageSize);

      for (int i = 1; i <= pageCount; i++) {
        Dictionary<string, object> attributes = new Dictionary<string, object>();
        attributes.Add("class", "btn btn-default");
        RouteValueDictionary routeValues = new RouteValueDictionary();
        routeValues.Add("pageNumber", i.ToString());
        @Html.ActionLink("Page " + i.ToString(), "Index", "Contacts", routeValues, attributes);
      }
    }
  </div>
</div>

<div class="row">
  <h4>Special Operations</h4>
  <div>
    @Html.ActionLink("Add Sample Data", "AddSampleData", "Contacts")
  </div>
  <div>
    @Html.ActionLink("Delete All Contacts", "DeleteAllContacts", "Contacts")
  </div>
</div>