@model IEnumerable<PeopleGraphWeb.Models.People>

@{
    ViewBag.Title = "People";
}

@if (string.IsNullOrEmpty(ViewBag.UserId))
{
    using (Html.BeginForm("Search", "People", FormMethod.Get))
    {
        @Html.Label("Seach:")
        @Html.TextBox("searchText")
        <input type="submit" value="Search" />
    }
}

<table class="table">
    <tr>
        <th>Display Name</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.DisplayName
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {userId = @ViewBag.UserId, peopleId = item.Id })
            </td>
            <td>
                @Html.ActionLink("Related People", "Index", new { userId = item.Id })
            </td>
        </tr>
    }

</table>