@model ResourceVisualization

<div>
    <h4>ResourceVisualization</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mediaType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mediaType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.previewImageUrl)
        </dt>

        <dd>
            <img src="@Model.previewImageUrl" alt="@Model.previewText" />        
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.previewText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.previewText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.containerWebUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.containerWebUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.containerDisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.containerDisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.containerType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.containerType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
