<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>Trial Upsell Sample</title>
    @Styles.Render("~/Content/reset.css")
    @Styles.Render("~/Content/jquery-ui.css")
    @Styles.Render("~/Content/jquery.weekcalendar.css")
    @Styles.Render("~/Content/completion.css")
    @Styles.Render("~/Content/demo.css")
    @Styles.Render("~/Content/toastr.css")
    @Scripts.Render("~/Scripts/jquery.min.js")
    @Scripts.Render("~/Scripts/jquery-ui.min.js")
    @Scripts.Render("~/Scripts/jquery.weekcalendar.js")
    @Scripts.Render("~/Scripts/cycle.js")
    @Scripts.Render("~/Scripts/toastr.js")




</head>
<body>

    <div class="container body-content">
        <h1 id="title">Contoso Appointment Scheduler</h1>

        <br />
        <div id="buttoncontainer">
            <div class="buttongroup">
                <div class="aboutcontainer">

                    <img id="import" src="~/Content/images/import.png" alt="Synchronise Calendars" />
                    <div>Import</div>
                </div>
                <div class="aboutcontainer">

                    <img id="export" src="~/Content/images/export.png" alt="Synchronise Calendars" />
                    <div>Export</div>
                </div>
                <div class="aboutcontainer">
                    <img id="print" src="~/Content/images/print.png" />
                    <div>Print</div>
                </div>

                <div class="groupname">Appointments</div>
            </div>

            <div class="buttongroup">

                <div class="aboutcontainer">

                    <img id="text" src="~/Content/images/phone.png" />
                    <div>SMS</div>
                </div>

                <div class="aboutcontainer">
                    <img id="mail" src="~/Content/images/mail.png" />
                    <div>Mail</div>
                </div>
                <div class="aboutcontainer">
                    <img id="contact" src="~/Content/images/contact.png" />
                    <div>Contacts</div>
                </div>
                <div class="groupname">Contact Management</div>
            </div>

            @*<div class="buttongroup">
                    <div class="aboutcontainer">
                        <img id="all" src="~/Content/images/calendar.png" />
                        <div>All</div>
                    </div>
                    <div class="aboutcontainer">
                        <img id="confirmed" src="~/Content/images/confirmed.png" />
                        <div>Confirmed</div>
                    </div>
                    <div class="groupname">View</div>
                </div>*@

            <div class="buttongroup">
                <div class="aboutcontainer">
                    <img id="marketing" src="~/Content/images/marketing.png" />
                    <div>Campaigns</div>
                </div>
                <div class="groupname">Marketing</div>
            </div>
            @*<div class="buttongroup">
                    <div class="aboutcontainer">
                        <img id="datepicker" src="~/Content/images/datepicker.png" />
                        <div>Date Picker</div>
                    </div>
                    <div class="groupname">Date Controls</div>
                </div>*@
            <div class="buttongroup">
                <div class="aboutcontainer">
                    <img id="testimonials" src="~/Content/images/testimonial.png" />
                    <div>Testimonials</div>
                </div>
                <div class="aboutcontainer">
                    <img id="tutorial" src="~/Content/images/tutorial.png" />
                    <div>Tutorial</div>
                </div>
                <div class="groupname">Learn More</div>
            </div>
            <div class="buttongroup">
                <div class="aboutcontainer">
                    <img id="upgrade" class="upgrade" src="~/Content/images/upgrade.png" />
                    <div>Purchase</div>
                </div>
                <div class="aboutcontainer">
                    <img class="feedback" src="~/Content/images/review.png" />
                    <div>Write Review</div>
                </div>
                <div class="groupname">Upgrade to Premium</div>
            </div>
        </div>
		<div id="spam">
		<div class="spam_message" id="trial_spam">
			You've completed your first week's appointment schedule. Leave us a review on the Office Store &nbsp;&nbsp;<button class="feedback">Write Review</button>
		</div>
		<div id="close_spam"><button>X</button></div>

			
		</div>
        @RenderBody()
        @RenderPage("~/Views/Scheduler/Trial.cshtml")
        
    </div>

    @RenderSection("scripts", required: false)
</body>

</html>

    @Scripts.Render("~/Scripts/trial.js")


<script type="text/javascript">

	(function () {
		"use strict";

		jQuery(function () {

			jQuery("#testimonials").click(function () {
				window.open("http://betterwith.office.com/", "_blank");
			});

			jQuery(".upgrade").click(function () {
				window.open("@ViewBag.StoreFront", "_blank");
			});

			jQuery(".feedback").click(function () {
				window.open("@Html.Raw(@ViewBag.ReviewPage)", "_blank");
			});

		});

	}());

</script>