@model List<Office365Group.Models.ThreadModel>
@{ ViewBag.Title = "Group Threads";}

<h2>Groups Threads</h2>
<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("AddThread", "Group", FormMethod.Post, new { @class = "form-inline" }))
        {
            <div class="form-group">
                <label for="topic">Topic</label>
                <input type="text" class="form-control" name="topic" id="topic" placeholder="Enter the topic" />
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <input type="text" class="form-control" name="message" id="message" placeholder="Enter a message" />
            </div>
            <input type="hidden" name="groupId" value="@ViewBag.GroupId" />
            <button type="submit" class="btn btn-default">Add Thread</button>
        }
    </div>
</div>
<table class="table table-bordered table-striped">
    <tr>
        <th>Topic</th>
        <th>Last Delivered Date Time</th>
        <th>Preview</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.topic)</td>
            <td>@Html.DisplayFor(modelItem => item.lastDeliveredDateTime)</td>
            <td>@Html.DisplayFor(modelItem => item.preview)</td>
            <td>@Html.ActionLink("Posts", "GroupThreadPosts", new { threadId = item.Id, groupId = ViewBag.GroupId })</td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Back to Group Home", "Index")
</p>

