@model GraphUsersGroups.Models.Profile
@{
    ViewBag.Title = "User profile details";
}

<h2>Profile</h2>

@{if (Model.user.GivenName != null && Model.user.Surname != null)
    {
        <h3> @Model.user.GivenName @Model.user.Surname </h3>
    }
}
@{ if (Model.photo != "")
    {
        <div style="height: 200px">
            <img src="@Model.photo" alt="Photo" border="0" style="width:auto;max-height: 100%" />
        </div>
    }
    else
    {
        <h4> No photo on record </h4>
    }
}

<table class="table table-bordered table-striped">
    <tr>
        <td>Display name</td>
        <td>
            @if (!string.IsNullOrEmpty(Model.user.DisplayName))
            {
                @Html.DisplayFor(modelItem => Model.user.DisplayName)
            }
        </td>
    </tr>
    <tr>
        <td>Mail</td>
        <td>
            @if (!string.IsNullOrEmpty(Model.user.Mail))
            {
                @Html.DisplayFor(modelItem => Model.user.Mail)
            }
        </td>
    </tr>
    <tr>
        <td>Job title</td>
        <td>
            @if (!string.IsNullOrEmpty(Model.user.JobTitle))
            {
                @Html.DisplayFor(modelItem => Model.user.JobTitle)
            }
        </td>
    </tr>
    <tr>
        <td>Mobile phone</td>
        <td>
            @if (!string.IsNullOrEmpty(Model.user.MobilePhone))
            {
                @Html.DisplayFor(modelItem => Model.user.MobilePhone)
            }
        </td>
    </tr>
    <tr>
        <td>Office</td>
        <td>
            @if (!string.IsNullOrEmpty(Model.user.OfficeLocation))
            {
                @Html.DisplayFor(modelItem => Model.user.OfficeLocation)
            }
        </td>
    </tr>
</table>