@model Office365Group.Models.UserModel
@{
    ViewBag.Title = "AboutMe";
}

<h2>About me</h2>
<table class="table table-bordered table-striped">
    <tr>
        <td>@Html.DisplayNameFor(model => model.displayName)</td>
        <td>@Html.DisplayFor(model => model.displayName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.givenName)</td>
        <td>@Html.DisplayFor(model => model.givenName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.mail)</td>
        <td>@Html.DisplayFor(model => model.mail)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.mobilePhone)</td>
        <td>@Html.DisplayFor(model => model.mobilePhone)</td>
    </tr>
</table>

<p>
    @Html.ActionLink("Back to Group Home", "Index")
</p>
