@model List<Office365Group.Models.EventModel>
@{ ViewBag.Title = "Group Events";}

<h2>Group Events</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>Subject</th>
        <th>BodyPreview</th>
        <th>Start</th>
        <th>End</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><a href="@item.webLink">@Html.DisplayFor(modelItem => item.subject)</a></td>
            <td>@Html.DisplayFor(modelItem => item.bodyPreview)</td>
            <td>@Html.DisplayFor(modelItem => item.start)</td>
            <td>@Html.DisplayFor(modelItem => item.end)</td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Back to Group Home", "Index")
</p>

