@model Office365PlannerTask.Models.MyTask

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MyTask</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.percentComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.percentComplete)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", new { planid = Model.planId })
</p>