@model IEnumerable<Office365PlannerTask.Models.MyTask>
@{ ViewBag.Title = "My Tasks"; }
<h2>My Tasks</h2>
<p>
    @Html.ActionLink("Create New", "Create", new { planid = Request.QueryString["planid"] != null ? Request.QueryString["planid"].ToString() : string.Empty })
</p>
<table id="tasksTable" class="table table-striped table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(model => model.title)</th>
        <th>@Html.DisplayNameFor(model => model.percentComplete)</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.title)</td>
            <td>@Html.DisplayFor(model => item.percentComplete)</td>
            <td>
                @Html.ActionLink("Update", "Update", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id, eTag = item.Etag, planid = item.planId })
            </td>
        </tr>
    }
</table>