@model OutlookServicesClientDemo.Models.MyEvent

@{
  ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
  <h4>MyEvent</h4>
  <hr />
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.Subject)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Subject)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Start)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Start)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.End)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.End)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Location)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Location)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Body)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Body)
    </dd>

  </dl>
</div>
<p>
  @Html.ActionLink("Back to List", "Index")
</p>
