@model IEnumerable<EmployeeDirectoryWeb.Models.Person>

@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>

<p>
    @Html.ActionLink("A", "Index", new { startLetter = "A"})
    @Html.ActionLink("B", "Index", new { startLetter = "B" })
    @Html.ActionLink("C", "Index", new { startLetter = "C" })
    @Html.ActionLink("D", "Index", new { startLetter = "D" })
    @Html.ActionLink("E", "Index", new { startLetter = "E" })
    @Html.ActionLink("F", "Index", new { startLetter = "F" })
    @Html.ActionLink("G", "Index", new { startLetter = "G" })
    @Html.ActionLink("H", "Index", new { startLetter = "H" })
    @Html.ActionLink("I", "Index", new { startLetter = "I" })
    @Html.ActionLink("J", "Index", new { startLetter = "J" })
    @Html.ActionLink("K", "Index", new { startLetter = "K" })
    @Html.ActionLink("L", "Index", new { startLetter = "L" })
    @Html.ActionLink("M", "Index", new { startLetter = "M" })
    @Html.ActionLink("N", "Index", new { startLetter = "N" })
    @Html.ActionLink("O", "Index", new { startLetter = "O" })
    @Html.ActionLink("P", "Index", new { startLetter = "P" })
    @Html.ActionLink("Q", "Index", new { startLetter = "Q" })
    @Html.ActionLink("R", "Index", new { startLetter = "R" })
    @Html.ActionLink("S", "Index", new { startLetter = "S" })
    @Html.ActionLink("T", "Index", new { startLetter = "T" })
    @Html.ActionLink("U", "Index", new { startLetter = "U" })
    @Html.ActionLink("V", "Index", new { startLetter = "V" })
    @Html.ActionLink("W", "Index", new { startLetter = "W" })
    @Html.ActionLink("X", "Index", new { startLetter = "X" })
    @Html.ActionLink("Y", "Index", new { startLetter = "Y" })
    @Html.ActionLink("Z", "Index", new { startLetter = "Z" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkPhone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkPhone)
        </td>
    </tr>
}

</table>
