<!-- 
Copyright (c) Microsoft Corporation. All rights reserved.
Licensed under the MIT license. 
-->

@model IEnumerable<ProductCatalogWeb.Models.Product>

@{
  ViewData["Title"] = "Products";
}

<h1>Products</h1>

<p>
  <a asp-action="Create">Create New</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Id)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Name)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Category)
      </th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
      </tr>
    }
  </tbody>
</table>