@model List<Office365Group.Models.FileModel>
@{
    ViewBag.Title = "Group Files";
}

<h2>Group Files</h2>
<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Last Modified Date Time</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><a href="@item.webLink">@Html.DisplayFor(modelItem => item.name)</a></td>
            <td>@Html.DisplayFor(modelItem => item.size)</td>
            <td>@Html.DisplayFor(modelItem => item.lastModifiedDateTime)</td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Back to Group Home", "Index")
</p>
