@model TasksWeb.Models.SpTaskViewModel

@{
  ViewBag.Title = "Tasks";
}

<h2>Tasks</h2>

<div class="row" style="margin-top:50px;">
  <div class="col-sm-12">
    @{
      Dictionary<string, object> attributes4 = new Dictionary<string, object>();
      attributes4.Add("class", "btn btn-default");
      @Html.ActionLink("New Task", "Create", "SpTask", null, attributes4);
    }
  </div>
</div>
<div class="row" style="margin-top:50px;">
  <div class="col-sm-12">
    <div class="table-responsive">
      <table id="filesTable" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Title</th>
            <th>Status</th>
            <th>Priority</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var task in @Model.SpTasks) {
            <tr>
              <td>
                @using (Html.BeginForm()) {
                  @Html.AntiForgeryToken()
                  <input type="hidden" id="taskId" name="taskId" value="@task.Id" />
                  <input type="submit" value="Delete" class="btn btn-warning" />
                }
              </td>
              <td>
                @{
                Dictionary<string, object> attributes2 = new Dictionary<string, object>();
                attributes2.Add("class", "btn btn-default");

                RouteValueDictionary routeValues2 = new RouteValueDictionary();
                routeValues2.Add("taskId", task.Id);
                @Html.ActionLink("Details", "Details", "SpTask", routeValues2, attributes2);
                }
              </td>
              <td>
                @task.Title
              </td>
              <td>
                @task.Status
              </td>
              <td>
                @task.Priority
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="btn btn-group-sm">
      @{
        Dictionary<string, object> attributes3 = new Dictionary<string, object>();
        attributes3.Add("class", "btn btn-default");

        RouteValueDictionary routeValues3 = new RouteValueDictionary();
        routeValues3.Add("pageIndex", (Model.PageIndex == 0 ? 0 : Model.PageIndex - 1).ToString());
        routeValues3.Add("pageSize", Model.PageSize.ToString());
        @Html.ActionLink("Prev", "Index", "SpTask", routeValues3, attributes3);
      }
      @{
        RouteValueDictionary routeValues4 = new RouteValueDictionary();
        routeValues4.Add("pageIndex", (Model.PageIndex + 1).ToString());
        routeValues4.Add("pageSize", Model.PageSize.ToString());
        @Html.ActionLink("Next", "Index", "SpTask", routeValues4, attributes3);
      }
    </div>
  </div>
</div>