@model IEnumerable<Microsoft.Office365.SharePoint.FileServices.IItem>

@{ ViewBag.Title = "My Files"; }

<h2>My Files</h2>

<div class="row" style="margin-top:50px;">
  <div class="col-sm-12">
    <div class="table-responsive">
      <table id="filesTable" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Title</th>
            <th>Created</th>
            <th>Modified</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var file in Model) {
            <tr>
              <td>
                @{
            Dictionary<string, object> attributes1 = new Dictionary<string, object>();
            attributes1.Add("class", "btn btn-warning");

            RouteValueDictionary routeValues1 = new RouteValueDictionary();
            routeValues1.Add("name", file.Id);
            @Html.ActionLink("X", "Delete", "Files", routeValues1, attributes1);
                }
              </td>
              <td>
                @file.Id
              </td>
              <td>
                <a href="@file.WebUrl">@file.Name</a>
              </td>
              <td>
                @file.DateTimeCreated
              </td>
              <td>
                @file.DateTimeLastModified
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="btn btn-group-sm">
      @{
        Dictionary<string, object> attributes2 = new Dictionary<string, object>();
        attributes2.Add("class", "btn btn-default");

        RouteValueDictionary routeValues2 = new RouteValueDictionary();
        routeValues2.Add("pageIndex", (ViewBag.PageIndex == 0 ? 0 : ViewBag.PageIndex - 1).ToString());
        routeValues2.Add("pageSize", ViewBag.PageSize.ToString());
        @Html.ActionLink("Prev", "Index", "Files", routeValues2, attributes2);

        RouteValueDictionary routeValues3 = new RouteValueDictionary();
        routeValues3.Add("pageIndex", (ViewBag.PageIndex + 1).ToString());
        routeValues3.Add("pageSize", ViewBag.PageSize.ToString());
        @Html.ActionLink("Next", "Index", "Files", routeValues3, attributes2);
      }
    </div>
  </div>
</div>

<div class="row" style="margin-top:50px;">
  <div class="col-sm-12">
    @using (Html.BeginForm("Upload", "Files", FormMethod.Post, new { enctype = "multipart/form-data" })) {
      <input type="file" id="file" name="file" class="btn btn-default" />
      <input type="submit" id="submit" name="submit" value="Upload" class="btn btn-default" />
    }
  </div>
</div>
