<div id="Trial_Messaging">
    <button id="close">X</button>
    <div id="trialmessage">

    </div>
</div>

<div id="profile_completion1" class="profile">
    <h1>Customize the Appointment Scheduler</h1>
    <div class="upsell_text">
        Select your profession from the list and Contoso Appointment Scheduler will optimize the layout to meet your needs.
    </div>
    <div class="upsell_video">
        <select id="view">
            <option value="Medical">Medical</option>
            <option value="Legal">Legal</option>
            <option value="Automotive">Automotive</option>
            <option value="Beauty">Hair & Beauty</option>
        </select>
        <br /><br /><input type="checkbox" id="sample" checked /> Populate this app with sample data.<br /><br />

        <div class="upsell_button">
            <button id="next_1" class="next">Next >></button>
        </div>
    </div>
</div>

<div id="profile_completion2" class="profile">
    <h1>Register an Email Address</h1>
    <div class="upsell_text">
        OPTIONAL: Register a contact email.  We can help you get started and walk you through to integrate
        your existing customer data into our app.<br /><br />
        The Getting Started email newsletters will explain how Contoso's customers have 
        grown new business by up to 20% and increased productivity by 10-15%.
    </div>
    <div class="upsell_video">
        Email: <input type="email" id="email" />
        <div class="upsell_button">
            <button id="next_2" class="next">Next >></button>
        </div>
    </div>
</div>

<div id="profile_completion3" class="profile">
    <h1>See what Contoso Appointment Scheduler can do for your business</h1>

    <img src="@Url.Content("~/Content/images/video.png")" alt="Text_Video" width="100%" /><br /> <br />
    <div class="upsell_button">
        <button class="next" id="next_3">Get Started</button>

    </div>

</div>
<div id="Import_Trial" class="Trial">
    <h1>Integrate with Other Calendars</h1>
    <div class="upsell_text">
        Contoso Appointment Scheduler allows seemless interation with all the top CRM systems. Import appointments from your other calendars and consolidate them in one location.
        <br /> <br />This is premium feature. Upgrade now to start importing.
        <br /> <br />Click play to see this feature in action
    </div>
    <div class="upsell_video">
        <img src="@Url.Content("~/Content/images/video.png")" alt="Import_Video" /><br /> <br />
        <div class="upsell_button">
            <button class="upgrade">Upgrade to Premium</button>
        </div>
    </div>
</div>
<div id="Text_Trial" class="Trial">
    <h1>Send Text Reminders for Appointments</h1>
    <div class="upsell_text">
        Contoso Appointment Scheduler allows you to text participants of a meeting to ensure noone forgets.
        <br /> <br />This is premium feature. Upgrade now to start texting.
        <br /> <br />Click play to see this feature in action
    </div>
    <div class="upsell_video">
        <img src="@Url.Content("~/Content/images/video.png")" alt="Text_Video" /><br /> <br />
        <div class="upsell_button">
            <button class="upgrade">Upgrade to Premium</button>
        </div>
    </div>

</div>
<div id="Mail_Trial" class="Trial">
    <h1>Email Clients from your Contacts List</h1>
    <div class="upsell_text">
        Contoso Appointment Scheduler allows you to email Clients directly from the calendar as well as to issue email reminders and notifications.
        <br /> <br />This is premium feature. Upgrade now to start sending emails.
        <br /> <br />Click play to see this feature in action
    </div>
    <div class="upsell_video">
        <img src="@Url.Content("~/Content/images/video.png")" alt="Text_Video" /><br /> <br />
        <div class="upsell_button">
            <button class="upgrade">Upgrade to Premium</button>
        </div>
    </div>

</div>
<div id="Contact_Trial" class="Trial">
    <h1>Add and Manage Contacts</h1>
    <div class="upsell_text">
        Contoso Appointment Scheduler provides a Client Database. You can add, manage and update clients, as well as keep tabs on client interactions.
        <br /> <br />You can add up to 10 clients as part of your Trial. Upgrade now to add an unlimited number of clients.
        <br /> <br />Click play to see this feature in action
    </div>
    <div class="upsell_video">
        <img src="@Url.Content("~/Content/images/video.png")" alt="Text_Video" /><br /> <br />
        <div class="upsell_button">
            <button class="upgrade">Upgrade to Premium</button>
            <button class="upgrade">Start Adding Clients</button>
        </div>
    </div>
</div>
<div id="Print_Trial" class="Trial">
    <h1>Print and Export your Calendars</h1>
    <div class="upsell_text">
        Contoso Appointment Scheduler allows you to print your calendars. It also allows you to export them in several file formats; including .xls, .pdf & .sql
        <br /> <br />This is premium feature. You must upgrade to Premium to start printing.
        <br /> <br />Click play to see this feature in action
    </div>
    <div class="upsell_video">
        <img src="@Url.Content("~/Content/images/video.png")" alt="Text_Video" /><br /> <br />
        <div class="upsell_button">
            <button class="upgrade">Upgrade to Premium</button>
        </div>
    </div>

</div>
<div id="Marketing_Trial" class="Trial">
    <h1>Socialise and Advertise Unbooked Appointment Slots</h1>
    <div class="upsell_text">
        Contoso Appointment Scheduler provides integrated tools for advertising free appointment slots via Facebook, Twitter and Groupon.
        <br /> <br />To begin advertising your appointment slots, you must upgrade to Premium.
        <br /> <br />Click play to see this feature in action
    </div>
    <div class="upsell_video">
        <img src="@Url.Content("~/Content/images/video.png")" alt="Text_Video" /><br /> <br />
        <div class="upsell_button">
            <button class="upgrade">Upgrade to Premium</button>
        </div>
    </div>
</div>
<div id="Testimonial_Trial" class="Trial">
    <h1>Socialise and Advertise Unbooked Appointment Slots</h1>
    <div class="upsell_text">
        Contoso Appointment Scheduler provides integrated tools for advertising free appointment slots via Facebook, Twitter and Groupon.
        <br /> <br />To begin advertising your appointment slots, you must upgrade to Premium.
        <br /> <br />Click play to see this feature in action
    </div>
    <div class="upsell_video">
        <img src="@Url.Content("~/Content/images/video.png")" alt="Text_Video" /><br /> <br />
        <div class="upsell_button">
            <button class="upgrade">Upgrade to Premium</button>
        </div>
    </div>
</div>
<div id="Tutorial_Trial" class="Trial">
    <h1>See this App in Action</h1>

    <img src="@Url.Content("~/Content/images/video.png")" alt="Text_Video" width="100%" /><br /> <br />
    <div class="upsell_button">
        <button>Upgrade to Premium</button>
    </div>
</div>