<div style="margin:25px;">
    <table>
        <thead>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Job Title</th>
        <th>Work E-mail</th>
        <th>Work Phone</th>
        @foreach (var Person in ViewBag.People)
        {
            <tr>
                <td>
                    <div style="width:200px;">@Person.LastName</div>
                </td>
                <td>
                    <div style="width:200px;">@Person.FirstName</div>
                </td>
                <td>
                    <div style="width:200px;">@Person.JobTitle</div>
                </td>
                <td>
                    <div style="width:400px;">@Person.WorkEmail</div>
                </td>
                <td>
                    <div style="width:200px;">@Person.WorkPhone</div>
                </td>
            </tr>
        }
    </table>
    </
</div>
