@model IEnumerable<SPResearchTracker.Models.Reference>

<div class="row" style="margin-top:50px;">
	<div class="col-sm-12">
		<div class="table-responsive">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.Title)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Url)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Notes)
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Title)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Url)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Notes)
							</td>
							<td>
								@Html.ActionLink("Edit", "Edit", "References", new { id = item.Id }, null) |
								@Html.ActionLink("Delete", "Delete", "References", new { id = item.Id }, null)
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>