@model SPResearchTracker.Models.Reference

@{
	ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
	<h4>Reference</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Url)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Url)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Title)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Title)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Notes)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Notes)
		</dd>

	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		@Html.HiddenFor(m => m.__eTag)
		<div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-default" /> |
			@Html.ActionLink("Back to List", "Index")
		</div>
	}
</div>
