
@{
    ViewBag.Title = "Index";
}

<center>
    <h2>Users for tenant @ViewBag.TenantId</h2>

    <hr />

    <div style="height:100px">

        <button class="btn btn-primary sync" onclick="syncUsersForTenant('@ViewBag.TenantId')" style="margin-bottom:15px">Sync Users Now</button>
        <p class="spinner" hidden><i class="fa fa-circle-o-notch fa-spin fa-3x"></i></p>
        <p class="text-danger" hidden>We had trouble sync'ing users, please try again.  If problem persists, file an issue on GitHub :)</p>
        <p class="success" hidden>Success, refreshing page now...</p>

    </div>

    <table class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>UPN</th>
                <th>Job Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (UserSync.Models.MsGraphUser user in ViewBag.Users)
            {
                <tr>
                    <td>@user.displayName</td>
                    <td>@user.id</td>
                    <td>@user.userPrincipalName</td>
                    <td>@user.jobTitle</td>
                </tr>
            }
        </tbody>
    </table>

    @if (ViewBag.Users.Count == 0)
    {
        <em>No users have been sync'd for this tenant just yet.  Try clicking the button above...</em>
    }

</center>

<script>
    function syncUsersForTenant(tenantId) {
        $spinner = $(".spinner");
        $spinner.show();
        $error = $(".text-danger");
        $error.hide();
        $success = $(".success");
        $success.hide();

        $.ajax({
            url: "/api/sync?tenantId=" + tenantId
        }).done(function (data) {
            $spinner.hide("slow");
            $success.fadeIn().delay(1000).queue(function () { location.reload(); })
        }).fail(function (data) {

            // If we got a 403, the user needs to grant our app permissions.
            if (data.status == 403) {
                window.location.replace("/Account/GrantPermissions");
                return;
            }

            // If we got any other error, show a generic message to the user.
            $error.show();
            $spinner.hide();
        })
    }
</script>

