@model SharedInsights

@{
    ViewBag.Title = "Shared";
}

<h2>Shared</h2>

<div>
    <h4>SharedInsights</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.context)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.context)
        </dd>

        @foreach (var item in Model.value)
        {

            <dt>
                @Html.DisplayNameFor(modelItem => item.id)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.id)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.lastShared.sharedBy)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.lastShared.sharedBy)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.lastShared.sharedDateTime)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.lastShared.sharedDateTime)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.lastShared.sharingSubject)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.lastShared.sharingSubject)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.lastShared.sharingType)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.lastShared.sharingType)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.lastShared.sharingReference.id)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.lastShared.sharingReference.id)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.lastShared.sharingReference.type)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.lastShared.sharingReference.type)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.lastShared.sharingReference.webUrl)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.lastShared.sharingReference.webUrl)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => item.lastShared.sharedBy)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.lastShared.sharedBy)
            </dd>
            @Html.Partial("_ResourceReference", item.resourceReference)
            @Html.Partial("_ResourceVisualization", item.resourceVisualization)
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
