@model TrendingInsights

@{
    ViewBag.Title = "Trending";
}

<h2>Trending</h2>

<div>
    <h4>TrendingInsights</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.context)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.context)
        </dd>

        @foreach (var item in Model.value)
        {

            <dt>
                @Html.DisplayNameFor(modelItem => item.id)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.id)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.weight)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.weight)
            </dd>
            @Html.Partial("_ResourceReference", item.resourceReference)
            @Html.Partial("_ResourceVisualization", item.resourceVisualization)
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
