@using Microsoft.Graph
@model List<User>
@{
    ViewBag.Title = "Manage Group Memberships";
}
<h2>@ViewBag.Title for @ViewBag.groupName</h2>

@{
    Dictionary<string, object> attributes4 = new Dictionary<string, object>();
    RouteValueDictionary routeValues4 = new RouteValueDictionary();
    routeValues4.Add("groupId", ViewBag.groupId);
    attributes4.Add("class", "btn btn-default");
    @Html.ActionLink("Add member", "FindUserForGroup", "GroupSearch", routeValues4, attributes4);
}

<div class="row" style="margin-top:50px;">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table id="membersTable" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>User Principal Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr onclick="location.href = '@(Url.Action("ShowProfile", "UserSearch", new { userId = user.Id }))'">
                            <td>
                                @Html.DisplayFor(modelItem => user.DisplayName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => user.UserPrincipalName)
                            <td>
                                @{
                                    Dictionary<string, object> attributes1 = new Dictionary<string, object>();
                                    attributes1.Add("class", "btn btn-warning");

                                    RouteValueDictionary routeValues1 = new RouteValueDictionary();
                                    routeValues1.Add("id", user.Id);
                                    routeValues1.Add("groupId", ViewBag.groupId);
                                    @Html.ActionLink("Remove", "RemoveMember", "GroupSearch", routeValues1, attributes1);
                                }
                              
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="btn btn-group-sm">
            @{
                Dictionary<string, object> attributes2 = new Dictionary<string, object>();
                attributes2.Add("class", "btn btn-default");

                if (null != ViewBag.NextLink)
                {
                    RouteValueDictionary routeValues3 = new RouteValueDictionary();
                    routeValues3.Add("groupId", "");
                    routeValues3.Add("nextLink", ViewBag.NextLink);
                    @Html.ActionLink("Next Page", "GroupMembers", "GroupSearch", routeValues3, attributes2);
                }
            }
        </div>
    </div>
</div>